extends ./tpl/_layout.pug

block variables
    -
        var title = 'Главная'
        var description = ''
        var index = true

block content 
    include ./components/intro
    include ./components/slider
    include ./components/info