header.header 
    .container 
        .header__row 
            a.logo(href="/")
                img.logo__img(src="./img/logo.svg")

            nav.main-menu-nav 
                ul.main-menu 
                    li.main-menu__item
                        a.main-menu__link.main-menu__link--parent(href="#")
                            | Пункт 1
                        //- ul.main-submenu
                            li.main-submenu__item 
                                a.main-submenu__link(href="#")
                                    img.main-submenu__link-icon(src="./img/sprite.svg#menu-icon")
                                    span.menu-submenu__link-title 
                                        | Меню 1
                                    span Покупайте и продавайте
                            li.main-submenu__item 
                                a.main-submenu__link(href="#")
                                    img.main-submenu__link-icon(src="./img/sprite.svg#menu-icon")
                                    span.menu-submenu__link-title 
                                        | Меню 1
                                    span Покупайте и продавайте
                            li.main-submenu__item 
                                a.main-submenu__link(href="#")
                                    img.main-submenu__link-icon(src="./img/sprite.svg#menu-icon")
                                    span.menu-submenu__link-title 
                                        | Меню 1
                                    span Покупайте и продавайте
                            li.main-submenu__item 
                                a.main-submenu__link(href="#")
                                    img.main-submenu__link-icon(src="./img/sprite.svg#menu-icon")
                                    span.menu-submenu__link-title 
                                        | Меню 1
                                    span Покупайте и продавайте
                    li.main-menu__item
                        a.main-menu__link(href="#")
                            | Пункт 2
                    li.main-menu__item
                        a.main-menu__link(href="#")
                            | Пункт 3
                    li.main-menu__item
                        a.main-menu__link(href="#")
                            | Пункт 4
                // main-menu END
            // main-menu-nav END

            a.btn.btn--primary(href="#")
                | Кнопка
        // .header__row END