section.section 
    .container.container--min
        .row 
            .cols.cols-6 
                .progressbar-wrap
                    .progressbar 
                        .progressbar__inner(style="width:5%", data-val="5")
                            | 5 %
                    .progressbar-control  
                        button.progressbar-btn.btn.btn--primary 
                            | + 25 %
                        p.progressbar-info 
                            | При нажатии на кнопку прогрессбар заполняется на столько процентов, сколько указано на кнопке